@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* :root {
  --clr-primary:
} */

body {
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 10%);
  color: white;
  font-family: Poppins, sans-serif;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

a {
  color: white;
}

header {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: hsl(0, 0%, 8%);
  box-shadow: 0 0 4px 0 black;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin-left: 24px;
}

.logo-img {
  height: 50%;
  margin-right: 24px;
}

.navbar {
  position: absolute;
  top: 80px;
  left: 0px;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%, 90%);
  transform: translateX(-300px);
  transition: all 300ms ease;
}

:checked ~ .navbar {
  transform: translateX(0px);
}

:checked ~ .hamburger span {
  transform: rotate(45deg) translate(2px, 4px);
}

:checked ~ .hamburger span:nth-of-type(2) {
  transform: translate(-4px, -4px) rotate(-45deg);
}

:checked ~ .hamburger span:nth-of-type(3) {
  opacity: 0;
}

.navbar > * {
  padding: 16px;
}

.nav-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#hamburger {
  display: none;
}

.hamburger {
  position: absolute;
  top: 24px;
  left: 24px;
}

.hamburger span {
  display: block;
  height: 8px;
  width: 24px;
  border-bottom: 3px solid white;
  border-radius: 3px;
}

@media screen and (min-width: 820px) {
  .hamburger {
    display: none;
  }

  header {
    justify-content: space-between;
  }

  .navbar {
    background-color: hsl(0, 0%, 10%);
    height: 80px;
    position: initial;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    transform: none;
  }

  .nav-link.active {
    color: hsl(0, 0%, 8%);
    background-color: white;
  }

  .nav-link {
    border-right: 1px solid white;
    color: white;
  }

  .nav-link:last-of-type {
    border: none;
  }
}

.landingpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingpage h1 {
  font-size: 8vw;
  font-family: poppins;
  font-weight: 200;
  user-select: none;
  background: linear-gradient(
    90deg,
    hsl(0, 0%, 10%) 0%,
    hsl(0, 0%, 10%) 40%,
    #444 45%,
    white 50%,
    #444 55%,
    hsl(0, 0%, 10%) 60%,
    hsl(0, 0%, 10%) 100%
  );
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: sweep 6s linear infinite alternate;
}

@keyframes sweep {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  box-shadow: 0 0 4px 0 black;
}

footer a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 160px);
  margin-top: 80px;
  padding: 4vh;
}

/* Events Page */

#past,
#upcoming {
  display: none;
}

#past:target {
  display: initial;
}

#upcoming:target {
  display: flex;
}

table {
  border: none;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid hsl(0, 0%, 33%);
}
th,
td {
  padding: 20px;
}

#past tr:nth-of-type(2n) {
  background-color: hsl(0, 0%, 18%);
}

main.events {
  margin-left: auto;
  margin-right: auto;
}

main.events nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

main.events nav a {
  text-decoration: none;
  font-size: 1.5rem;
}

main.events nav a:hover {
  text-decoration: underline;
}

.event {
  padding: 16px;
  background-color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 33%);
  min-width: 200px;
  border-radius: 0.5rem;
  flex: 1 1 300px;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.events {
  max-width: 1000px;
}

time {
  color: hsl(0, 0%, 33%);
}

iframe {
  position: absolute;
  display: none;
}

.location:hover + iframe,
iframe:hover {
  display: initial;
}

.location::before {
  content: "@ ";
}

th {
  text-align: left;
}

/* Artists Page */

main.artists {
  display: flex;
  justify-content: center;
}

.artist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 1300px;
}

img {
  display: block;
  max-width: 100%;
}

.artist {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 4px black;
  flex: 0 1 400px;
}

.artist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  position: absolute;
  padding: 16px;
  top: 70%;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: hsl(0, 0%, 8%, 70%);
  width: 100%;
  transition: top 1s;
  overflow: hidden;
}

.artist:hover .artist-info {
  top: 0;
}

.artist-info h2 {
  margin: 0 0 0.3rem 0;
  line-height: 1em;
  font-size: 1.25rem;
}

.artist-links {
  align-self: center;
  margin: auto;
}

/* About Page */

#about {
  max-width: min(800px, 90%);
  margin-left: auto;
  margin-right: auto;
  line-height: 1.7rem;
  text-align: justify;
}

/* Booking Page */

#overview {
  order: -1;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  gap: 24px;
}

.overview-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: hsl(0, 0%, 33%);
  transition: all 500ms;
}

.overview-element-id {
  display: inline-block;
  line-height: 24px;
  background-color: hsl(0, 0%, 33%);
  color: hsl(0, 0%, 18%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  margin-right: 1rem;
  transition: all 500ms;
}

/* Styling the overview depending on the form step */

#select-artists:target ~ #overview :nth-child(1).overview-element,
#event-info:target ~ #overview :nth-child(2),
#personal-info:target ~ #overview :nth-child(3),
#confirmation:target ~ #overview :nth-child(4) {
  color: white;
}

#select-artists:target
  ~ #overview
  :nth-child(1).overview-element
  .overview-element-id,
#event-info:target
  ~ #overview
  :nth-child(2).overview-element
  .overview-element-id,
#personal-info:target
  ~ #overview
  :nth-child(3).overview-element
  .overview-element-id,
#confirmation:target
  ~ #overview
  :nth-child(4).overview-element
  .overview-element-id {
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form section:not(:last-child) {
  display: none;
}

form section:target {
  display: block;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 1000px;
  min-width: 30vw;
}

form > section h2 {
  font-weight: 400;
  text-align: center;
  margin-top: 0;
}

form input:focus-within,
form textarea:focus-within {
  outline: 0;
  border: 2px solid hotpink;
}

form label img {
  filter: grayscale(1);
}

form label img:hover {
  border: 2px solid white;
}

#artists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

#artists .artist {
  flex: 1 1 max(25%, 100px);
}

.artist input[type="checkbox"] {
  display: none;
}

.artist label {
  display: block;
  position: relative;
  height: 100%;
  cursor: pointer;
}

label .artist-name {
  width: 100%;
  font-size: 0.8rem;
  padding: 6px 16px;
  position: absolute;
  bottom: 0;
  text-align: right;
  background-color: hsl(0, 0%, 8%, 70%);
}

:checked + label img {
  filter: grayscale(0);
  border: 2px solid white;
}

form input,
form textarea {
  border-radius: 4px;
  border: none;
  min-height: 2rem;
  margin-bottom: 32px;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

form nav {
  display: flex;
  justify-content: flex-end;
}

form nav > a {
  text-decoration: none;
  display: block;
  background-color: hsl(0, 0%, 10%);
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 16px;
  border: 2px solid white;
  transition: all 500ms;
}

form nav > a:focus-visible {
  outline: 0;
  border: 2px solid white;
}

form nav > a:hover {
  background-color: white;
  color: hsl(0, 0%, 10%);
}

.btn {
  background-color: var(--clr-primary, hsl(0, 0%, 10%));
  color: var(--btn-color, white);
  border: 2px solid var(--btn-color, white);
}

.btn:hover {
  background-color: var(--btn-color);
}

.btn-warning {
  --btn-color: rgb(131, 5, 74);
}

.flex-container label {
  margin-bottom: 0.7rem;
}
