@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: hsl(0, 0%, 12%);
  color: white;
  font-family: Poppins, sans-serif;
}

a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: hsl(0, 0%, 8%);
  box-shadow: 0 0 4px 0 black;
  margin-bottom: 4vh;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  letter-spacing: 0.2em;
  text-decoration: none;
  margin-left: 24px;
}

.logo-img {
  height: 64px;
  margin-right: 24px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-link {
  text-decoration: none;
  padding: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-right: 1px solid white;
}

.nav-link:last-of-type {
  border: none;
}

.nav-link:hover {
  background-color: hsl(0, 0%, 16%);
}

.landingpage {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  box-shadow: 4px 0 0 0 black;
  margin-top: 4vh;
}

footer a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 160px);
}

/* Events Page */

main.events nav {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

main.events nav a {
  margin: 16px;
  text-decoration: none;
}

main.events nav a:hover {
  text-decoration: underline;
}

main.events img {
  width: 256px;
}

.event {
  margin: 16px;
  background-color: hsl(0, 0%, 8%);
  width: 30vw;
  padding: 16px;
  border-radius: 1em;
  flex-grow: 1;
}

.event-info {
  margin: 0;
}

.event-container {
  display: flex;
  flex-wrap: wrap;
}

.events {
  max-width: 1000px;
  margin: auto;
}

time {
  color: hsl(0, 0%, 33%);
}

.location::before {
  content: "@ ";
}

th {
  text-align: left;
}

/* Artists Page */

main.artists {
  display: flex;
  justify-content: center;
}

.artist-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
}

.artist-image img {
  width: 256px;
}

.artist {
  position: relative;
}

.artist-info {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-align: right;
  background-color: hsl(0, 0%, 8%, 70%);
  width: 256px;
}

.artist-info h2 {
  margin-bottom: 0px;
  line-height: 1em;
  font-size: 1.25rem;
  margin-right: 8px;
}

.artist-info p {
  margin: 0px 8px 8px 0px;
}

/* Form */

.overview-element {
  margin-bottom: 2rem;
  color: hsl(0, 0%, 33%);
}

.overview-element-id {
  display: inline-block;
  line-height: 24px;
  background-color: hsl(0, 0%, 33%);
  color: hsl(0, 0%, 18%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  margin-right: 1rem;
}

.active .overview-element-id {
  background-color: white;
  color: hsl(0, 0%, 8%);
}

.overview-element.active {
  color: white;
}

form {
  margin-left: 48px;
  display: flex;
  align-items: start;
}

form section {
  display: none;
}

form section:target {
  display: block;
}

#event-info:target #overview {
  display: block;
  margin-right: 6vw;
  flex: 0 0 200px;
}

form label img {
  width: 128px;
}

.artist input[type="checkbox"] {
  display: none;
}

.artist label {
  display: block;
  position: relative;
}

label .artist-name {
  width: 100%;
  font-size: 0.8rem;
  position: absolute;
  bottom: 0px;
  text-align: right;
  background-color: hsl(0, 0%, 8%, 70%);
}

:checked + label {
  border: 2px solid white;
}

#artists {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

#about {
  max-width: 1200px;
  margin: 4vh auto;
}

form input[type="text"] {
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container > nav {
  display: flex;
  justify-content: space-between;
}
